~*
*.stswp
.DS_Store
Code/Continuation rates.do
Code/Extract survey data.do
Code/Response to DJL.do
Code/time series.do
Code/TWFE.do
Output/Thumbs.db
Output/timeseries.log
Output/continuationtrends.png
Output/bigpushsim.png
Code/Correlates of treatment.do
Code/Response to DJL 2.do
*.dta
